version: '{branch}_{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master

image: Visual Studio 2022
shallow_clone: true

build_script:
- pwsh: dotnet --info
- pwsh: dotnet build .\source\Playnite.sln -m:1 -c Release
- pwsh: dotnet test .\source\Tests\Playnite.Tests.Avalonia\Playnite.Tests.Avalonia.csproj -c Release --no-build
- pwsh: dotnet test .\source\Tests\Playnite.DesktopApp.Tests.Avalonia\Playnite.DesktopApp.Tests.Avalonia.csproj -c Release --no-build
- pwsh: dotnet test .\source\Tests\Playnite.FullscreenApp.Tests.Avalonia\Playnite.FullscreenApp.Tests.Avalonia.csproj -c Release --no-build

test: off
